header > nav > ul a {
    padding: 0.6rem;
}

/* header section.social {
    display: flex;
    flex-flow: row nowrap;
} */

header {
    width: 100vw;
}

body {
    font-family: "Poppins", sans-serif;
}