body {
    min-width: 900px;
    max-width: 60%;

    margin: 0 auto;

    background-image: url("../img/bg-photo-7.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;

    box-shadow: 0 0 3rem 0 dimgray;
}

/* //////////////////////// HEADER //////////////////////// */

.sticky {
    top: 0;
    min-width: 900px;
    max-width: 60%;
}

#discover {
    padding: 2rem;
}

header section p {
    display: initial;
}

/* //////////////////////// DISCOVER //////////////////////// */

#discover button {
    position: relative;
    right: 19rem;
}

/* //////////////////////// DESTINATIONS //////////////////////// */

#destinations > h1 {
    width: 100%;
    text-align: center;
}

#destinations article {
    width: 50%;
}

#destinations article {
    padding: 1.5rem 2rem;
}

#destinations button {
        padding: 0.6rem 1rem;
        margin: 1rem auto;
        margin-bottom: 1.5rem;
    
}

/* //////////////////////// INQUIRE/ABOUT //////////////////////// */

.info {
    padding: 1rem 6rem;
}


#about-us section#team img {
    width: 11rem;
    height: 11rem;

}

/* * {
    border: 1px solid magenta !important;
} */
