body {
    min-width: 900px;
    max-width: 60%;

    margin: 0 auto;

    background-image: url("../img/bg-photo-7.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
}

header, body > section, footer {
    /* box-shadow: 0 0 1rem 0 dimgray; */
}

/* //////////////////////// HEADER //////////////////////// */

.sticky {
    top: 0;
    min-width: 900px;
    max-width: 60%;
}

#discover {
    padding: 2rem;
}

header section.contact {
    display: initial;
}

/* //////////////////////// DISCOVER //////////////////////// */

#discover a {
    position: relative;
    right: 19rem;
}

/* //////////////////////// TOURS //////////////////////// */

#tours > h1 {
    width: 100%;
    text-align: center;
}

#tours article {
    width: 50%;
}

#tours article {
    padding: 1.5rem 2rem;
}

#tours button {
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}

/* //////////////////////// INQUIRE/ABOUT //////////////////////// */

.info {
    padding: 1rem 6rem;
}

#about-us section#team img {
    width: 11rem;
    height: 11rem;
}

.form-group {
    display: flex;
    flex-direction: row;
}

.form-group label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

#space {
    display: block;
}

/* * {
    border: 1px solid magenta !important;
} */
